*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(249, 206, 145);
    z-index: -1;
}
span{
    color: rgb(123, 41, 230);
}

.about{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/pikturi/sanina.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.suwat {
    max-width: 500px;
    color: rgb(169, 29, 106);
}
.content h2 {
    font-size: 3em;
}
.content p{
    font-size: 4%;
}
.product{
    font-size: 3em;
}
#prods h4{
    font-size: 2em;

}
.plastar{
    position: absolute;
    top: 810px;
    left: 250px;
}
.kini{
    position: absolute;
    top: 810px;
    left: 500px;
}
#proms h1{
    font-size: 2.5em;

}